.git
.gitignore
.env
.env.test
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
venv
.venv
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.pytest_cache
.mypy_cache
.hypothesis
.DS_Store
.idea
.vscode
logs/
test_logs/
tmp/
legacy/
backend/data/postgres/*
backend/data/postgres_test/*
backend/data/elasticsearch/*
backend/data/redis/*
backend/data/duckdb/*
backend/data/fixtures/*
backend/data/gazetteers/*
backend/data/opengeometadata/*
backend/data/harvest_dumps/*
